@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #00ffd0, #38756a);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
    color: #00816a;
}

.relogio span.tempo {
    font-size: 10px;
    color: #00816a;
}
.leg{
    position: absolute;
    top: 600px;
    left: 702px;
    height: 170px;
    width: 515px;
    font-size: 50px;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    letter-spacing: 3px;
    text-align: center;
    color: #00816a;
}

footer{
    position: absolute;
    bottom: 5px;
}
img{
    position: absolute;
    bottom: 5px;
    right: 790px;
    width: 2%;
    height: 3%;
}

/***Feito por Larissa V. Kich***/